<h2>社員一覧</h2>
<ul class="members">
    <!-- members配列の中身をmember変数に移している -->
    <!-- idとnameはi番目のmemberのidと名前を参照している -->
    <li 
        *ngFor="let member of members"
        [class.selected]="member === selectedMember"
        (click)="onSelect(member)"
    >
        <span class="badge">{{ member.id }}</span> {{ member.name }}
    </li>
</ul>
<div *ngIf="selectedMember">
<h2>{{ selectedMember.name }}</h2>
    <div><span>id: </span>{{ selectedMember.id }}</div>
    <div>
        <label>名前: 
            <input type="text" [(ngModel)]="selectedMember.name" placeholder="名前">
        </label>
    </div>
</div>
<!-- <div *ngIf="member.id == 1">これはngIf文を用いて出力されています</div> -->